/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}
@media only screen and (max-width : 640px) {
	.logo{
		text-align: center;
	}
	header .logo{
		display: block;
	}
	.phone{
		float: none;
		text-align: center;
	}
	.phone .tab_item{
		font-size: 30px;
	}
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

@media only screen and (max-width : 448px) {
.prokurs_tab .wrapper .tab{
	float: none
}
.header_content h1 span{
	font-size: 50px
}
.prokurs_tab .tab_item {
	padding: 20px 30px 80px 20px;
}
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}
@media only screen and (min-width : 640px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}